RUST_LOG=info
LOG_FORMAT=pretty
BIND_ADDRESS=0.0.0.0
BIND_PORT=8080
DATABASE_URL=postgres://postgres:password@database:5432/docker
REDIS_URL=redis://redis:6379
FRONTEND_ORIGIN=http://localhost:5173
CATEGORY_DIR=./categories
